{
  "CYPRESS_BASE_URL": "https://tv-stg.sbtlab.io",
  "DISCORD_WEBHOOK_URL": "seu-webhook-aqui",
  "CYPRESS_CMS_API_TOKEN": "seu-token-cms-aqui",
  "CYPRESS_CMS_BASE_URL": "",
  "CYPRESS_AUTH_BASE_URL": "",
  "CYPRESS_SBT_TV_BASE_URL": "",
  "E2E_DELAY_MS": 2000
}
